{% extends 'base.html.twig' %}

{% block title %}Series List{% endblock %}
{% block body %}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_series_create_form') }}" class="btn btn-dark mb-3">
            Insert
        </a>
    {% endif %}
    <ul class="list-group">
        {% for series in seriesList %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div class="d-flex:align-items-center">
                        {% if series.coverImagePath %}
                            <img src="{{ asset('uploads/cover_image/') ~ series.coverImagePath }}"
                                alt="{{series.name}} series Poster"
                                class="img-fluid img-thumbnail me-3"
                                style="max-width: 100px;max-height: 45px;">
                        {% endif %}
                        <a href="{{ path('app_seasons', {series: series.id})}}">
                            {{series.name}}
                        </a>
                    </div>
                    <div class="d-flex">
                        <a href="{{ path('app_edit_series_form', {series: series.id}) }}" class="btn btn-sm btn-primary me-2">
                            E
                        </a>
                        <form action="{{ path('app_remove_series', {series: series.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-sm btn-danger">
                                X
                            </button>
                        </form>
                    </div>
                </li>
            
        {% endfor %}
    </ul>
{% endblock %}
